<h1>Listing options</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Chapter</th>
      <th>Option text</th>
      <th>Prev chapter</th>
      <th>Next chapter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @options.each do |option| %>
      <tr>
        <td><%= option.chapter_id %></td>
        <td><%= option.option_text %></td>
        <td><%= option.prev_chapter %></td>
        <td><%= option.next_chapter %></td>
        <td><%= link_to 'Show', option %></td>
        <td><%= link_to 'Edit', edit_option_path(option) %></td>
        <td><%= link_to 'Destroy', option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Option', new_option_path %>
