<div class="jumbotron">
  <h1 class="text-center">Ceritafy</h1>
  <p class="text-center">Ceritafy is a tool you can use to write your own CYOA story!</p>
</div>

<br>
<br>
<br>


<%= form_tag signup_path, class: "form-signin" %>
<h2 class="form-signin-heading">Please sign up!</h2>
<%= text_field_tag "name", nil, class: "form-control", placeholder: "Name" %>
<%= text_field_tag "email", nil, class: "form-control", placeholder: "Email" %>
<%= text_field_tag "password", nil, class: "form-control", placeholder: "Password" %>
<%= text_field_tag "password_confirmation", nil, class: "form-control", placeholder: "Password Confirmation" %>

<%= submit_tag "Sign up", method: :post, class: "btn btn-lg btn-primary btn-block"  %>
