<!-- Page Content -->
<div class="container">
  <!-- Jumbotron Header -->
  <header class="jumbotron hero-spacer text-centered">
    <h1>Ceritafy</h1>
    <p>Ceritafy is a fun way to start writing your own Choose Your Own Adventure style stories!</p>
    <p>Ceritafy makes it super simple to start reading and writing so sign up today!</p>
    <p><%=link_to 'Sign Up', signup_path, class:"btn btn-primary btn-large" %>
    </p>
  </header>

  <hr>

  <!-- Page Features Most Views-->

  <div class="row text-center">
    <!-- Title -->
    <div class="row">
      <div class="col-lg-12">
        <h2>Most Views</h2>
      </div>
    </div>
    <div>
        <% @stories.order('impressions_count desc').first(4).each do |story| %>
            <div class="col-md-3 col-sm-6 hero-feature">
              <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">
                <div class="caption">
                  <h2><%= story.title %></h2>
                    <%= link_to 'Read', story_chapter_path(story, story.first_chapter), class:"btn btn-primary btn-large" %>
                </div>
              </div>
            </div>
        <% end %>
    </div>
  </div>
  <!-- /.row -->
  <div class="row text-center">
    <!-- Title -->
    <div class="row">
      <div class="col-lg-12">
        <h2>New Stories</h2>
      </div>
    </div>
    <div>
      <% @stories.order('created_at desc').first(4).each do |story| %>
          <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
              <img src="http://placehold.it/800x500" alt="">
              <div class="caption">
                <h2><%= story.title %></h2>
                  <%= link_to 'Read', story_chapter_path(story, story.first_chapter), class:"btn btn-primary btn-large" %>

              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
  <!-- /.row -->
  <div class="row text-center">
    <!-- Title -->
    <div class="row">
      <div class="col-lg-12">
        <h2>Recent Updates</h2>
      </div>
    </div>
    <div>
      <% @stories.order('updated_at desc').first(4).each do |story| %>
          <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
              <img src="http://placehold.it/800x500" alt="">
              <div class="caption">
                <h2><%= story.title %></h2>
                  <%= link_to 'Read', story_chapter_path(story, story.first_chapter), class:"btn btn-primary btn-large" %>
                </p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
  <!-- /.row -->
  <div class="row text-center">
    <!-- Title -->
    <div class="row">
      <div class="col-lg-12">
        <h2>Editor Picks</h2>
      </div>
    </div>
    <div>
      <% @stories.first(4).each do |story| %>
          <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
              <img src="http://placehold.it/800x500" alt="">
              <div class="caption">
                <% if story.editor_picks == true %>
                    <h2><%= story.title %></h2>
                      <%= link_to 'Read', story_chapter_path(story, story.first_chapter), class:"btn btn-primary btn-large" %>
                    </p>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
  <!-- /.row -->
  <hr>

</div>


