<h1>More Stories</h1>
<div>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Most Viewed Stories</th>
    <th colspan="1"></th>
  </tr>
  </thead>
  <tbody>
  <% @stories.order('impressions_count desc').each do |story| %>
      <tr>
        <td><%= story.title %></td>
        <td><%= story.impressions_count %></td>
        <td><%= story.created_at %></td>
        <td><%= story.updated_at %></td>
        <td><%= link_to 'Read', story %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>

<div>
<table class="table table-hover">
  <thead>
  <tr>
    <th>New Stories</th>
    <th colspan="1"></th>
  </tr>
  </thead>
  <tbody>
  <% @stories.order('created_at desc').each do |story| %>
      <tr>
        <td><%= story.title %></td>
        <td><%= story.impressions_count %></td>
        <td><%= story.created_at %></td>
        <td><%= story.updated_at %></td>
        <td><%= link_to 'Read', story %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>

<div>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Recent Updates</th>
    <th colspan="1"></th>
  </tr>
  </thead>
  <tbody>
  <% @stories.order('updated_at desc').each do |story| %>
      <tr>
        <td><%= story.title %></td>
        <td><%= story.impressions_count %></td>
        <td><%= story.created_at %></td>
        <td><%= story.updated_at %></td>
        <td><%= link_to 'Read', story %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>

<div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Editor Picks</th>
      <th colspan="1"></th>
    </tr>
    </thead>
    <tbody>
    <% @stories.each do |story| %>
        <tr>
          <% if story.editor_picks == true %>
          <td><%= story.title %></td>
          <td><%= story.impressions_count %></td>
          <td><%= story.created_at %></td>
          <td><%= story.updated_at %></td>
          <td><%= link_to 'Read', story %></td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>