<p id="notice"><%= notice %></p>

<p>
  <strong>Story Title</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Story Body</strong>
  <%= @story.user_text %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
