<br>
<br>
<br>
<br>

<p>
  <%= @chapter.user_text %>
</p>



 <% @chapter.options.each do |chapter| %>
    <%= link_to 'Pick', story_chapter_path(chapter) do %>
        <%= chapter.option_text %><br>
    <% end %>
<% end %>

<br>
<br>
<br>
<br>



<% if @story.user_id == current_user.id %>
    <%= link_to 'Edit', edit_story_chapter_path(@story, @chapter) %>
    <%= link_to 'Back', story_chapters_path %>
<% end %>
